<a href="https://colab.research.google.com/github/KHLearns/AcademyPublic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hello

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 77% 9.00M/11.6M [00:00<00:00, 54.6MB/s]
100% 11.6M/11.6M [00:00<00:00, 66.8MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 17.0MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7+3

10

In [ ]:
7-3

4

In [2]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
7+3

10

In [ ]:
7*3

21

In [ ]:
21//2

10

In [ ]:
21**2

441

In [ ]:
a=3
b=4
c=a+b
b=c-b

In [ ]:
a+b

6

In [ ]:
a

3

In [ ]:
a=10

In [ ]:
a==9

False

In [ ]:
a==10
a>=10

True

In [ ]:
cities = ['Paris', 'Zurich','Rome','Berlin','London']
cities[-1]
cities[2]='Milan'
cities[2]
print(cities)
cities.insert(2,'Hongkong')
#print(cities)
cities.append('Rio')
#print(cities)
cities.remove('Paris')
#print(cities)
cities.insert(2,848)
#print(cities)
#cities.remove(848)
print(cities)
cities.index('Hongkong')
new_list_cities =['Frankfurt', 'Paris','Washington']
cities=cities+new_list_cities
print(cities)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Zurich', 'Hongkong', 848, 'Milan', 'Berlin', 'London', 'Rio']
['Zurich', 'Hongkong', 848, 'Milan', 'Berlin', 'London', 'Rio', 'Frankfurt', 'Paris', 'Washington']

In [ ]:
val=-10
if val <-10:
  print('very low')
elif val <0:
  print('low')
elif val>10:
  print('very high')
elif val>0:
  print('high')
else:
    print('It is zero.')

low

In [ ]:
my_new_list=[0,1,2,3,4]
val=7
if val not in my_new_list:
  print('Sorry,', val, 'is not in the list')
else:
  print('Yes, there is', val, 'in the list')

Sorry, 7 is not in the list

In [ ]:
fruits=['apple', 'pear','cherry','grape']
for i in fruits:
  print(i)

apple
pear
cherry
grape

In [ ]:
list_of_list=[['a','b','c'],[1,2,3,4]]
for sub_list in list_of_list:
  print('We treat the list:',sub_list)
  for element in sub_list:
    print('We display the element:',element)

We treat the list: ['a', 'b', 'c']
We display the element: a
We display the element: b
We display the element: c
We treat the list: [1, 2, 3, 4]
We display the element: 1
We display the element: 2
We display the element: 3
We display the element: 4

In [ ]:
def area(length, width):
  my_area=length*width
  return my_area

In [ ]:
area(10,15)

150

In [3]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/winequality-red.csv')

In [ ]:
df.sample(3,random_state=17)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
114,7.8,0.56,0.19,1.8,0.104,12.0,47.0,0.99640,3.19,0.93,9.5,5
667,11.3,0.34,0.45,2.0,0.082,6.0,15.0,0.99880,2.94,0.66,9.2,6
1253,7.9,0.66,0.00,1.4,0.096,6.0,13.0,0.99569,3.43,0.58,9.5,5

In [ ]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [ ]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
df.shape

(1599, 12)

In [ ]:
len(df)

1599

In [ ]:
df[['fixed acidity','volatile acidity', 'quality']].head()

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5
2            7.8              0.76        5
3           11.2              0.28        6
4            7.4              0.70        5

In [ ]:
df['fixed acidity']

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64

In [ ]:
mask1=df['fixed acidity']>7

In [ ]:
df[mask1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [ ]:
temp=df[mask1]
len(temp)

1237

In [ ]:
df[mask1]==df[df['fixed acidity']>7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,True,True,True,True,True,True,True,True,True,True,True,True
1580,True,True,True,True,True,True,True,True,True,True,True,True
1585,True,True,True,True,True,True,True,True,True,True,True,True
1586,True,True,True,True,True,True,True,True,True,True,True,True
1588,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
mask2=df['fixed acidity'].between(7,8)
df[mask2]
temp=df[mask2]
len(temp)

546

In [ ]:
mask2=df['fixed acidity'].between(7,8)
#temp=df[mask2][['ph', 'quality']]

In [ ]:
mask3=((df['residual sugar']<=1.9) | (df['residual sugar']>=2.3)) & (df['sulphates']<0.7301)
temp=df[mask3]
temp

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
def citric_acid_cat(x):
  if x < 0.21:
    return 'A'
  elif x < 0.3:
    return 'B'
  else:
    return 'C'

In [ ]:
df['citric_cat']= df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [ ]:
df['citric_cat'].sample(5)

192     A
109     C
625     A
1372    C
567     B
Name: citric_cat, dtype: object

In [ ]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A,A
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A,A
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C,C
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,A,A
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,A,A
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,A,A
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,A,A
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C,C

In [ ]:
mask5=((df['residual sugar']>=2.3) | (df['residual sugar']<=1.9)) & (df['citric_cat'] != 'A')
df[mask5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C,C
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,C,C
11,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,C,C
13,7.8,0.61,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5,B,B
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.6,7,C,C
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6,C,C
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6,C,C
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6,C,C
1598,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C,C

In [ ]:
list_cat_to_keep = ['A', 'B', 'P', 'VV']

In [ ]:
mask6 = ((df['sulphates']<0.7301) & (df(['citric_cat'])).isin(list_cat_to_keep)
df[mask6].['citric_cat'].value_counts()

SyntaxError: ignored

In [ ]:
df['Y']= np.where(df['quality']>7,1,0)
df['Y2']= np.where(df['quality']>7,1,df['quality'])

In [ ]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat,Y,Y2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A,0,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A,A,0,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A,A,0,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C,C,0,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,A,A,0,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,A,A,0,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,A,A,0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,A,A,0,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C,C,0,6

In [ ]:
df=df.drop(columns=['NEW_NAME_citric_cat'])

In [ ]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat,Y,Y2
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,0,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A,0,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A,0,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C,0,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,A,0,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,A,0,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,A,0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,A,0,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C,0,6

In [ ]:
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat,Y,Y2
278,10.3,0.320,0.45,6.4,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8,C,1,1
848,6.4,0.640,0.21,1.8,0.081,14.0,31.0,0.99689,3.59,0.66,9.8,5,B,0,5
519,7.3,0.365,0.49,2.5,0.088,39.0,106.0,0.99660,3.36,0.78,11.0,5,C,0,5
47,8.7,0.290,0.52,1.6,0.113,12.0,37.0,0.99690,3.25,0.58,9.5,5,C,0,5
626,8.8,0.600,0.29,2.2,0.098,5.0,15.0,0.99880,3.36,0.49,9.1,5,B,0,5

In [5]:
# Here is a sumup of all the manipulation we did in order to load the dataset 
# and to add some complexity
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
import matplotlib.dates as mdates
import seaborn as sns
import itertools
import scipy.stats as ss
from imblearn.over_sampling import SMOTE

def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

df = pd.read_csv('/content/winequality-red.csv')
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))
df['Y'] = np.where(df['quality']>= 7, 1, 0)
df['fixed_acidity_cat'] = np.where(df['fixed acidity']<= 8, 0, 1)
df['volatile_acidity_cat'] = np.where(df['volatile acidity']>= 0.4, 0, 1)
temp = df.sample(n=150, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)
df['pH2'] = np.where(df['pH'].index %15 ==0, np.nan, df['pH'])
rng = np.random.default_rng(893717398)
df = df.join(pd.Series(rng.normal(df['fixed acidity'].median(),1,len(df)), name='acidity_other'))
df['acidity_other'] = np.where(df['acidity_other'].index %2 !=0, np.nan, df['pH'])
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)
np.random.seed(893717398)
d_start = pd.to_datetime('2021-01-01')
d_end = pd.to_datetime('2021-06-30')
df['date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))
df['date'] = df['date'].astype(str)
df['citric_cat'] = np.where(df['citric_cat'] == 'C', 'Z', df['citric_cat'])
df['date'] = pd.to_datetime(df['date'], format= '%Y-%m-%d %H:%M:%S') 
today = pd.to_datetime('2021-10-12', format = '%Y-%m-%d')
df['time_diff'] = today - df['date']
df['day_diff'] = (df['time_diff']/np.timedelta64(1, 'D')).astype(float)
np.random.seed(893717398)
randomf1 = pd.Series(np.random.normal(0, 1, len(df)), name='Random_Normal_feature1')
randomf2 = pd.Series(np.random.normal(1, 0.5, len(df)), name='Random_Normal_feature2')
randomf = pd.concat([randomf1, randomf2], axis=1, ignore_index=True)
randomf.columns = ['Random_Normal_feature1', 'Random_Normal_feature2']
np.random.seed(893717398)
df['Random_Normal_feature1'] = pd.Series(np.random.normal(0, 1, len(df)), name='Random_Normal_feature1')
df = df.merge(randomf, how='inner', on='Random_Normal_feature1')

In [8]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat,Y,fixed_acidity_cat,volatile_acidity_cat,pH2,acidity_other,date,time_diff,day_diff,Random_Normal_feature1,Random_Normal_feature2
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,A,0,0,0,NaN,3.51,2021-01-06 14:38:36,278 days 09:21:24,278.389861,-1.631267,1.407202
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,A,0,0,0,3.20,NaN,2021-02-07 08:11:30,246 days 15:48:30,246.658681,1.047653,1.086529
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,A,0,0,0,3.26,3.26,2021-06-27 12:25:26,106 days 11:34:34,106.482338,-0.226178,0.852965
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Z,0,1,1,3.16,NaN,2021-06-16 05:25:38,117 days 18:34:22,117.773866,-0.930432,0.634562
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,A,0,0,0,3.51,3.51,2021-01-20 10:10:16,264 days 13:49:44,264.576204,-0.047275,1.816503

In [7]:
pd.set_option('display.max_columns', None)

In [11]:
df['Y'].mean()*100

13.436249285305891

In [13]:
df.set_index('date').resample('M').size()

date
2021-01-31    303
2021-02-28    284
2021-03-31    297
2021-04-30    292
2021-05-31    302
2021-06-30    271
Freq: M, dtype: int64

In [14]:
oot = df[df['date']>='2021-05-01']

In [15]:
df=df[df['date']< '2021-05-01']

In [16]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,citric_cat,Y,fixed_acidity_cat,volatile_acidity_cat,pH2,acidity_other,date,time_diff,day_diff,Random_Normal_feature1,Random_Normal_feature2
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,A,0,0,0,NaN,3.51,2021-01-06 14:38:36,278 days 09:21:24,278.389861,-1.631267,1.407202
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,A,0,0,0,3.20,NaN,2021-02-07 08:11:30,246 days 15:48:30,246.658681,1.047653,1.086529
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,A,0,0,0,3.51,3.51,2021-01-20 10:10:16,264 days 13:49:44,264.576204,-0.047275,1.816503
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,A,0,0,0,3.51,NaN,2021-04-12 19:13:51,182 days 04:46:09,182.198715,-1.064004,0.865373
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,A,0,0,0,3.30,3.30,2021-02-03 07:42:49,250 days 16:17:11,250.678600,0.699029,0.850949

In [19]:
df['date'].min()

Timestamp('2021-04-30 21:46:30')

In [20]:
df['date'].max()

Timestamp('2021-04-30 21:46:30')

In [31]:
from sklearn.model_selection import train_test_split
train, test - train_test_split(df, test_size=0.25, random_state=893717398)

NameError: ignored

In [30]:
train, test - train_test_split(df, test_size=0.25, random_state=893717398)

NameError: ignored

In [32]:
# Let's see if we have duplicated rows:
feature_analyze_duplicates = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'citric_cat',
       'fixed_acidity_cat', 'volatile_acidity_cat', 'pH2', 'acidity_other']
len(train[train.duplicated(subset = feature_analyze_duplicates, keep=False)])

NameError: ignored

In [24]:
train[train.duplicated(subset - feature_analyze_duplicates, keep-False)].sort_values ('density')

NameError: ignored